$cTomato: red;
$cBroccoli: green;
$cGarlic: #f7f7f4;
$cCarrots: orange;

.tomato{

  background-color: $cTomato;
}

.broccoli{

  background-color: $cBroccoli;
}

.garlic{

  background-color: $cGarlic;
}

.carrots{

  background-color: $cCarrots;
}
